/Users/Raskolnikovbot3001/Documents/workspace/StupidProject/license.txt
/Users/Raskolnikovbot3001/Documents/workspace/StupidProject/debug.log
/Users/Raskolnikovbot3001/Documents/workspace/StupidProject/docs
/Users/Raskolnikovbot3001/Documents/workspace/StupidProject/freezedried_data
/Users/Raskolnikovbot3001/Documents/workspace/StupidProject/icons
/Users/Raskolnikovbot3001/Documents/workspace/StupidProject/installer
/Users/Raskolnikovbot3001/Documents/workspace/StupidProject/integration
/Users/Raskolnikovbot3001/Documents/workspace/StupidProject/lib
/Users/Raskolnikovbot3001/Documents/workspace/StupidProject/license.txt
/Users/Raskolnikovbot3001/Documents/workspace/StupidProject/misc
/Users/Raskolnikovbot3001/Documents/workspace/StupidProject/model_description.txt